.genresList {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 10px;
  padding: 0px;
}

.genresItem {
  padding: 0 15px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 143%;
  color: #eaeaea;
  text-transform: uppercase;
  cursor: pointer;
  background: #242424;
  border: 1px solid #454545;
  border-radius: 10px;
}

.genresItem:hover {
  background-color: #1d5304;
}

.selected {
  background-color: #3f9c14;
}

.sort {
  font-weight: 300;
  font-size: 20px;
  line-height: 143%;
  text-align: center;
  color: #afafaf;
}

.sortCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
